.Layout {
  padding: 12px;
  display: flex;

  justify-content: center;

  font-size: 13px;
  line-height: 19.5px;
}

@media screen and (max-width: 899px) {
  .Layout.save {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
  }
  .Layout.hide {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .Layout {
    padding: 12px 20px;
  }
}

:root {
  margin: 0;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 400;
}